#header {
  text-align: center;
}
#header h1 {
  margin: 0;
}
#header img {
  float: right;
}
#footer {
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}
#menu {
  font-weight: bold;
  background-color: #ddd;
  float: left;
  padding: 0 0 50% 5px;
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  background-color: #ddd;
  width: 100px;
}
#content {
  margin-left: 120px;
}
.message {
  color: #390;
}
.error {
  color: #f00;
}
